<div class="col-12 col-md-4 mx-auto text-center row-sign bg-white">
  <img src="/images/logo.png" alt="" class="img-fluid mb-4" width="250">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, placeholder:'Email', autofocus: true, autocomplete: "email", class:"form-control mb-3"  %>
    </div>

    <div class="field">            
      <%= f.password_field :password, placeholder:'Password', autocomplete: "new-password", class:"form-control"  %>
      <% if @minimum_password_length %>
        <small>(<%= @minimum_password_length %> characters minimum)</small>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, placeholder:'Password confirmation', autocomplete: "new-password", class:"form-control mt-3  mb-3"  %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>