<!DOCTYPE html>
<html>
  <head>
    <title>AppReminder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="loading">
      <img src="/images/loading.gif" alt="">
    </div>
    <div class="content">
      <%= render 'partials/header' %>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert && params[:action] != 'create' && params[:controller] != 'devise/registrations' %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>

      <%= render 'partials/footer' %>

    </div>


    <%= yield(:script) %>
  </body>
</html>
